{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "detox"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style": "warn",
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/extensions": 0
  },
  "settings": {
    "import/resolver": {
      "node": true,
      "eslint-import-resolver-typescript": true
    }
  }
}
